<!DOCTYPE html>
   <html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/output.css" />

     <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"/>


    <title>Centered FAQ Accordion</title>
   </head>    


   <body>

 <!-------- FAQ --------->
    
<!-- Section Header --> 
 <section class="max-w-7xl mx-auto px-4 py-10 sm:px-6 lg:px-8 lg:py-14">

    <!-- Title -->
    <div class ="max-w-2xl mx-auto text-center mb-10">
    <h2 class="text-2xl font-bold text-foreground"> Frequently Asked Questions </h2> 
    <p class="mt-1 text-gray-800"> Answers to common questions about our services and process. </p>
    </div> 

    



    <!-- End Title -->

     <!-- FAQ -->



 </section> 
   </body>

   </html>