   <!DOCTYPE html>
   <html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/output.css" />

     <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"/>


    <title>Our Team Section</title>
   </head>    


   <body>


     <!-- Team Main Section  -->

   <section class="max-w-5xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto ">

    <!-- Title -->
     <div class = "max-w-2xl  mx-auto text-center mb-10 lg:mb-14 ">
     <h2 class="text-2xl font-bold md:text-4xl md:leading-tight text-foreground" >Our team</h2>
     <p class="mt-1 "> Creative people</p>
     </div>

     <!-- End Title -->

     
     <!-- Grid -->
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">



      <!-- Team Card -->

       <!-- Start Col -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground"> Amil Evara</h3>

                <!-- Role -->
                <p class="text-sm text-muted-foreground-2"> UI/UX Designer</p>

            </div>

         </div>
          <!-- End Col -->





           <!-- Start Col 2 -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">David Forren</h3>

                <!-- Role -->
                <p class="text-sm text-muted-foreground-2"> Founder / CEO</p>

            </div>

         </div>
          <!-- End Col -->




           <!-- Start Col 3 -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">David Forren</h3>

                <!-- Role -->
                <p class="text-sm text-muted-foreground-2"> Founder / CEO</p>

            </div>

         </div>
          <!-- End Col -->








         </div>
         <!-- End Grid -->


         


         <!-- Card Start -->
          <div>
            <div>
             <div> 
                <span></span>
                <a></a>
                
             </div>
            </div>
        </div>  
         <!--End Card Start -->


         








   </section>
   <!-- Team Main Section End -->
    



   </body>

   </html>