   <!DOCTYPE html>
   <html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/output.css" />

     <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"/>


    <title>Our Team Section</title>
   </head>    


   <body>


     <!-- Team Main Section  -->

   <section class="max-w-5xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto ">

    <!-- Title -->
     <div class = "max-w-2xl  mx-auto text-center mb-10 lg:mb-14 ">
     <h2 class="text-2xl font-bold md:text-4xl md:leading-tight text-foreground" >Our team</h2>
     <p class="mt-1  text-gray-600 "> Creative people</p>
     </div>

     <!-- End Title -->

     
     <!-- Grid -->
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-8 md:gap-12">



      <!-- Team Card -->

       <!-- Start 1st Row of Team Card -->     

       <!-- Start 1st Col  -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground"> Amil Evara</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600">Founder / CEO</p>

            </div>

         </div>
          <!-- End Col -->





           <!-- Start Col 2 -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">David Forren</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600"> UI/UX Designer </p>

            </div>

         </div>
          <!-- End Col -->




           <!-- Start Col 3 -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Ebele Egbuna</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600">Support Consultant</p>

            </div>

         </div>
          <!-- End Col -->



          
           <!-- Start Col 4 -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Maria Powers</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600">Director of sales</p>

            </div>

         </div>
          <!-- End Col -->




               <!-- Start Col 5 -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Delia Pawelke</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600">Front-end Developer</p>

            </div>

         </div>
          <!-- End Col -->




          <!-- Start 2nd Row Of Team -->

          
               <!-- Start 1st Col  -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1624224971170-2f84fed5eb5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Tom Lowry</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600">UI/UX Designer</p>

            </div>

         </div>
          <!-- End Col -->



              <!-- Start 2nd Col  -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1579017331263-ef82f0bbc748?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Louise Donadieu</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600">Support Consultant</p>

            </div>

         </div>
          <!-- End Col -->



          
              <!-- Start 3rd Col  -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1514222709107-a180c68d72b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Jeff Fisher</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600">Project Manager</p>

            </div>

         </div>
          <!-- End Col -->




          
              <!-- Start 4th Col  -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1602452920335-6a132309c7c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Sophia Harrington</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600">Project Manager</p>

            </div>

         </div>
          <!-- End Col -->



          
              <!-- Start 5th Col  -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1515621061946-eff1c2a352bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Christina Kray</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600">Support Consultant</p>

            </div>

         </div>
          <!-- End Col -->




          <!-- Start of 3rd Row Of Team  -->


          <!-- Start 1th Col  -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1514846226882-28b324ef7f28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Amy Forren</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600">Product Designer</p>

            </div>

         </div>
          <!-- End Col -->




          
          <!-- Start 2nd Col  -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1610216705422-caa3fcb6d158?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Philip Williams</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600">Support Consultant</p>

            </div>

         </div>
          <!-- End Col -->




          
          <!-- Start 3rd Col  -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1520409364224-63400afe26e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Brian Lofoten</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600"> UI/UX Designer</p>

            </div>

         </div>
          <!-- End Col -->




          
          <!-- Start 4th Col  -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1558507652-2d9626c4e67a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Jessica Dorsey</h3>

                <!-- Role -->
                <p class="text-sm  text-gray-600">Director of sales</p>

            </div>

         </div>
          <!-- End Col -->




          
          <!-- Start 5th Col  -->
        <div class="text-center">

            <!-- Image -->
            <img class="rounded-full size-24 mx-auto" src="https://images.unsplash.com/photo-1521151716396-b2da27b1a19f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">

            <!-- Content -->
            <div class="mt-2 sm:mt-4">

                <!-- Name -->
                <h3 class="font-medium text-foreground">Nick Jackson</h3>

                <!-- Role -->
                <p class="text-sm text-gray-600">UI/UX Designer</p>

            </div>

         </div>
          <!-- End Col -->

         </div>
         <!-- End Grid -->


         


         <!-- Card Start -->
          <div class="mt-12 flex justify-center ">
            <div class="bg-layer border border-layer-line py-2 px-3 rounded-full">
                <!-- Text  & Anchors  + Arrow SVG inside CTA Pills  -->
             <div class="flex items-center gap-x-3" > 
                <span  class="text-sm text-muted-foreground-1">Want to work with us?</span>
                <a class="inline-flex items-center gap-x-2 text-sm font-medium  text-blue-600 hover:text-blue-900" href="#" >We are hiring

                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>                    
                </a>
                
             </div>
            </div>
        </div>  
         <!--End Card Start -->


         








   </section>
   <!-- Team Main Section End -->
    



   </body>

   </html>