<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/output.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"/>

      <title>Testimonial Card Grid</title>
</head>

<body>

    <!-- Testimonials Section -->
     <section>

        <!-- Container -->
        <div>
        
        
        <!-- Section Header -->
        <!-- Title -->
        <div>            
            <h2> 
            Loved by business and individuals across the globe
        </h2>            

        </div>
         <!-- End Title -->
         <!-- End Section Header -->


          <!-- Quote Section -->
        <div>
            <p>
            "Refreshing and thought-provoking design. It changed my view on website design."
            </p>
        </div>

        <!-- User Info -->
        <div>

            <!-- Avatar -->
            <div>
            <img src="avatar.jpg" alt="User Avatar">
            </div>

            <!-- Name & Designation -->
            <div>
            <h4>Alisa Williams</h4>
            <p>Entrepreneur | Happy Customer</p>
            </div>

        </div>

        </div>
        <!-- End Testimonial Card -->





        </div>

    </section>

    
     
     
    
</body>
</html>