<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/output.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"/>

      <title>Testimonial Card Grid</title>
</head>

<body bgcolor="#1e2939" >

    <!-- Testimonials Section -->
     <section class="overflow-hidden bg-inverse">

        <!-- Container -->
        <div class="relative max-w-340 px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        
        
        <!-- Section Header -->
        <!-- Title -->
        <div class="max-w-2xl w-3/4 lg:w-1/2 mb-6 sm:mb-10 md:mb-16">            
            <h2 class="text-2xl sm:text-3xl lg:text-4xl text-foreground-inverse font-semibold text-white"> 
            Loved by business and individuals across the globe
        </h2>    

        </div>
         <!-- End Title -->
         <!-- End Section Header -->


          <!-- Quote Section -->
           <!-- Main Cards Grid -->
        <div class ="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 ">
           
            <!-- First Card -->
             <div class="flex h-auto">
                <div class=" w-full max-w-sm mx-auto min-h-[250px] lg:min-h-[260px] flex flex-col bg-white rounded-xl shadow-lg">
            
            <div class="flex-auto p-5 md:p-6">
                <p class="text-base md:text-base italic  text-[#374151]">
                " With Preline, we're able to easily track our performance in full detail. It's become an essential tool for us to grow and engage with our audience. "
                </p>
            </div>




        <!-- User Info -->
        <div class="p-4 bg-[#F3F4F6] rounded-b-xl md:px-7">

            <div class="flex items-center gap-x-3">

            <!-- Avatar -->
            <div class="shrink-0">
            <img class="size-8 sm:size-11.5 rounded-full"  src=" https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">
            </div>

            <!-- Name & Designation -->
            <div class="grow">
            <p class="text-sm sm:text-base font-semibold text-gray-900">Josh Tyson</p>
            <p class="text-xs  text-gray-500 ">Product Manager | Capsule</p>
            </div>

            </div>

                </div>
            </div>
        </div>
    





        <!-- Quote Section 2-->
           <!-- Second Cards Grid 2 -->
       
           
            <!-- First Card -->
             <div class="flex h-auto">
                <div class=" w-full max-w-sm mx-auto min-h-[250px] lg:min-h-[260px] flex flex-col bg-white rounded-xl shadow-lg">
            
            <div class="flex-auto p-5 md:p-6">
                <p class="text-base md:text-base italic  text-[#374151]">
                " In September, I will be using this theme for 2 years. I went through multiple updates and changes and I'm very glad to see the consistency and effort made by the team. "
                </p>
            </div>




        <!-- User Info -->
        <div class="p-4 bg-[#F3F4F6] rounded-b-xl md:px-7">

            <div class="flex items-center gap-x-3">

            <!-- Avatar -->
            <div class="shrink-0">
            <img class="size-8 sm:size-11.5 rounded-full"  src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar">
            </div>

            <!-- Name & Designation -->
            <div class="grow">
            <p class="text-sm sm:text-base font-semibold text-gray-900">Luisa</p>
            <p class="text-xs  text-gray-500 "> Senior Director of Operations | Fitbit</p>
            </div>

            </div>

                </div>
                <!-- End of User Info -->

            </div>
        </div>




        <!-- Quote Section 3-->
           <!-- Second Cards Grid 3 -->
       
           
            <!-- Third Card -->
             <div class="flex h-auto">
                <div class=" w-full max-w-sm mx-auto min-h-[250px] lg:min-h-[260px] flex flex-col bg-white rounded-xl shadow-lg">
            
            <div class="flex-auto p-5 md:p-6">
                <p class="text-base md:text-base italic  text-[#374151]">
                " Refreshing and Thought provoking design and it changes my view about how I design the websites. Great typography, modern clean white design, nice tones of the color. "
                </p>
            </div>




        <!-- User Info -->
        <div class="p-4 bg-[#F3F4F6] rounded-b-xl md:px-7">

            <div class="flex items-center gap-x-3">

            <!-- Avatar -->
            <div class="shrink-0">
            <img class="size-8 sm:size-11.5 rounded-full"  src="https://images.unsplash.com/photo-1579017331263-ef82f0bbc748?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=900&h=900&q=80" alt="Avatar">
            </div>

            <!-- Name & Designation -->
            <div class="grow">
            <p class="text-sm sm:text-base font-semibold text-gray-900">Alisa Williams</p>
            <p class="text-xs  text-gray-500 "> Entrepreneur | Happy customer</p>
            </div>

            </div>

                </div>
                <!-- End of User Info -->

            </div>
        </div>







    </div>        
        <!-- End of Gird Testimonial Card  -->
       
    














    </div> 
     <!-- Cards End Grid -->





        

    </section>
     <!-- Testimonials Section -->

    
     
     
    
</body>
</html>